.NavItems {
  display: flex;
  align-items: center;
}
.headerLinks {
  padding-right: 3rem;
  text-decoration: none;
  align-items: center;
  width: 100%;
  color: white;
}
.headerLinks:hover {
  text-decoration: underline;
}
